[package]
name = "crypteia"
version = "1.1.2"
edition = "2021"

[[bin]]
name = "crypteia"

[lib]
name = "crypteia"
crate_type = ["cdylib"]

[dependencies]
# bin
anyhow = "1.0.57"
tokio = { version = "1.19.2", features = ["full"] }
futures = { version = "0.3.21" }
aws-config = "0.53.0"
aws-sdk-ssm = "0.23.0"
lambda-extension = "0.8.0"
# lib
redhook = "2.0"
libc = "0.2.126"
lazy_static = "1.4.0"
# both
serde_json = "1.0.81"

[profile.release]
strip = true
